<nav class="top-nav">
    <div class="container">
      <div class="nav-wrapper"><a class="page-title">Inventory</a></div>
    </div>
  <ul id="nav-mobile" class="side-nav fixed">
    <li class='search'>
      <div class="container">
          <div class="input-field col s12">
              <div class="search-wrapper card">
                  <form action="/search" method="post">
                      <input id="search" name="search">
                      <i class ="material-icons">search</i>
                  </form>
              </div>
          </div>
      </div>
    </li>
    <li class="sidebar-link"><a href="#!">Stores</a></li>
    <li><a href="#!">Brands</a></li>

  </ul>
</nav>
