<nav class="top-nav">
    <div class="container">
      <div class="nav-wrapper right"><a class="page-title">Inventory</a></div>
    </div>
  <ul id ="nav-mobile" class="side-nav fixed" style="width: 240px;">
    <li class='search'>
      <div class="container">
          <div class="input-field col s12">
              <div class="search-wrapper card">
                  <form action="/search" method="post">
                      <input id="search" name="search">
                      <i class ="material-icons">search</i>
                  </form>
              </div>
          </div>
      </div>
    </li>
    <li class="sidebar-link"><a href="/">Home</a></li>
    <li><a href="/stores">Stores</a></li>
    <li><a href="/brands">Brands</a></li>
  </ul>

</nav>
