<!DOCTYPE html>
<html>
    {% include 'partials/head.html'%}
    <body>
    {% include 'partials/nav.html'%}
    <main>
        <div class="container">
            <h1>Brands:</h1>
            <hr>
        </div>
    </main>

    {% include 'partials/footer.html'%}
    </body>
</html>
